* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    border-radius: 4px;
    color: #222;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    text-align: right;
}

option {
    font-size: 80%;
}

#absoluteDay {
    width: 4.5em;
}

#day {
    width: 2em;
}

#year {
    width: 3em;
}

header {
    text-align: center;
    font-weight: bold;
    font-size: 110%;
}

.fieldRow {
    margin-top: 8px;
}

input, select {
    color: #44b;
}