* {
    font-family: Arial, Helvetica, sans-serif
}

.flex-container-vertical {
    display: flex;
    flex-direction: column;    
}

.flex-container-horizontal {
    display: flex;
    flex-direction: row;
}

.text-field {
    margin: 2px;
}

.text-field > div {
    text-align: center;
}

input {
    text-align: center;
}

#character-name * {
    font-size: 150%;    
}

#character-name > div {
    font-weight: bold;
}
